<f:layout name="FCE"/>

<div xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:section name="Configuration">
        <flux:form wizardTab="Bootstrap" id="pageheader" options="{useTypoScript: 0}"
                   icon="{v:extension.path.resources(path: 'Icons/bootstrap/glyphicons_459_header.png')}">
            <flux:field.input name="header"/>
            <flux:field.input name="subheader"/>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <h2>{header}
            <f:if condition="{subheader}">
                <small>{subheader}</small>
            </f:if>
        </h2>
    </f:section>

    <f:section name="Main">
        <div class="page-header">
            <h1>{header}
                <f:if condition="{subheader}">
                    <small>{subheader}</small>
                </f:if>
            </h1>
        </div>
    </f:section>

</div>
